<!DOCTYPE html>
<html>
  <head>
    <title>ConsultBooks</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js" defer></script>
</head>
<body>
    <section>
      <div id="head-search">
        <h1>ConsultBooks</h1>
      </div>
      <div id="input-search">
        <label for="input-author">Author:</label>
        <input type="text" id="input-author" placeholder="F. Scott Fitzgerald">
        <label for="input-title">Title:</label>
        <input type="text" id="input-title" placeholder="El Gran Gatsby">
        <button type="button" id="button-search">Search</button>
      </div>
      <div id="output-search">
        <!-- Books searched -->
      </div>
    </section>
    <a id="doc-link" href="http://localhost:3000/docs/" target="_blank" rel="noopener noreferrer">Ir a documentación</a>
</body>
</html>